@using Microsoft.AspNetCore.Mvc.ViewFeatures;
@inject IFileVersionProvider vp

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="TreeClimber.styles.css" />
    <link rel="icon" type="image/png" href="@CacheUtil.AppendVersion(vp, "favicon.png")" />
    @*Custom CSS Files*@
    <link href="@CacheUtil.AppendVersion(vp, "About.css")" rel="stylesheet" />
    <link href="@CacheUtil.AppendVersion(vp, "Buttons.css")" rel="stylesheet" />
    <link href="@CacheUtil.AppendVersion(vp, "Climb.css")" rel="stylesheet" />
    <link href="@CacheUtil.AppendVersion(vp, "Home.css")" rel="stylesheet" />
    <link href="@CacheUtil.AppendVersion(vp, "Inputs.css")" rel="stylesheet" />
    <link href="@CacheUtil.AppendVersion(vp, "Modal.css")" rel="stylesheet" />
    <link href="@CacheUtil.AppendVersion(vp, "Page.css")" rel="stylesheet" />
    <link href="@CacheUtil.AppendVersion(vp, "Samples.css")" rel="stylesheet" />
    <link href="@CacheUtil.AppendVersion(vp, "Tree.css")" rel="stylesheet" />

    @*Custom JS*@
    <script src="@CacheUtil.AppendVersion(vp, "js/tree.js")"></script>

    @*Blazor context menu references*@
    <link href="_content/Blazor.ContextMenu/blazorContextMenu.min.css" rel="stylesheet" />
    <script src="_content/Blazor.ContextMenu/blazorContextMenu.min.js"></script>

    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
